@import "https://fonts.googleapis.com/css?family=Droid+Sans|Raleway|Shadows+Into+Light|Cairo:400,500,600,700,800,900";
h3, p {
  line-height: 1.3;
  text-align: left;
  color: #606060;
}

.image-frame-1, .image-frame-2 {
  position: absolute;
  bottom: 5%;
  height: 20%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  .image-frame-1, .image-frame-2 {
    font-size: 60%;
  }
}

.cover {
  background: url(../images/cover-photo.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  background-color: WhiteSmoke;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.cover .container .logo {
  box-sizing: border-box;
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}
.cover .container .logo img {
  display: block;
  width: 100%;
}
.cover .center-message {
  box-sizing: border-box;
  position: relative;
  padding: 20%;
}

h1 {
  font-family: "Shadows Into Light", "Raleway", "Droid Sans";
  font-size: 60px;
  font-weight: normal;
  line-height: 1.3;
  text-align: left;
}

h2 {
  margin-top: 2%;
  font-family: helvetica, serif, arial;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

h3 {
  font-family: "cairo", "Raleway", "Droid Sans";
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Georgia, serif;
  font-size: 1.125em;
  font-weight: normal;
}

.row {
  width: 100%;
}

.col-sm-6 {
  padding: 3% 4%;
}

.header-paragraph {
  height: 60px;
  margin-bottom: 60px;
}

.paragraph {
  height: 20em;
  padding: 50px 0;
  margin-bottom: 3.3%;
}

.footer-paragraph {
  position: absolute;
  margin-bottom: 50px;
  height: 40px;
  bottom: 2%;
}

.image-link {
  display: inline-block;
  float: left;
  position: relative;
  width: 50%;
}
.image-link img {
  width: 100%;
}
@media (max-width: 700px) {
  .image-link img {
    float: right;
  }
}

.image-frame-1 {
  background-color: rgba(47, 126, 52, 0.5);
}

.image-frame-2 {
  background-color: rgba(248, 148, 6, 0.5);
}
