//colors
$white: #fff;
$black_50: rgba(0,0,0,.5);
$color_storm_dust_approx: #606060;
$black_30: rgba(0, 0, 0, 0.3);
$color_forest_green_50_approx: rgba(47, 126, 52, 0.5);
$color_pizazz_50_approx: rgba(248, 148, 6, 0.5);
