

/* -------- color guide ----------
#3c6b92 : main blue
#6acce2 : light blue
#2c566a : teal accent
#193742 : dark blue
#e1d8b9 : sand accent
#cb7d20 : orange accent
#51341a : brown
#995522 : dark orange (used for links or high contrast accents)
#cb202a : red accent (this color does not encode well, use only for small accents)
#896287 : purple

*/


html,
body {
/*css for full size background image*/
  background: url("../images/cover-photo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  background-color: WhiteSmoke ;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

/*
 * Header
 */
.masthead-brand img {
   width: 100%;
   top: 5px;
   left: 15px;
 }
.masthead-brand {
  box-sizing: border-box;
  width: 150px;

}
