

/* -------- color guide ----------
#3c6b92 : main blue
#6acce2 : light blue
#2c566a : teal accent
#2f7e34 : Green
#193742 : dark blue
#606060 : dark gray ( used for h2 and paragraph from 2nd part)
*/

.cover {
/*css for full size background image*/
  background: url("../images/cover-photo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  min-height: 100vh;
  background-color: WhiteSmoke ;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
 * Header
 */
.logo img {
   width: 100%;
   margin-top: 20px;
   margin-left: 20px;
 }
.logo {
  box-sizing: border-box;
  width: 150px;

}

h1 {
  font-family: Shadows Into Light, Raleway, Droid Sans;
  font-size: 60px;
  font-weight: normal;
  line-height: 1.3;
  text-align: left;

}
/*Title for link images*/
h2 {
  font-family: helvetica, serif; arial;
  font-size: 3em;
  font-weight: bold;
  color: #ffffff;
}

h3, p {
  line-height: 1.3;
  text-align: left;
  color: #606060;
}
/*title for paragraph*/
h3 {
  font-family: cairo, Raleway, Droid Sans;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  text-transform: uppercase;
}



p {
  font-family: Helvetica, Georgia, serif;
  font-size: 1.125em;
  font-weight: normal;

}

.center-message {
  box-sizing: border-box;
  position: relative;
  padding: 20%;
}

.row {
width: 100%;

}

.col-sm-6 {
  padding: 3% 4%;
}

.header-paragraph {
height: 60px;
margin-bottom: 60px;
}

.paragraph {
  height: 20em;
  padding: 50px 0;
  margin-bottom: 3.3%;
}

.footer-paragraph {
  position: absolute;
  margin-bottom: 50px;
  height: 40px;
  bottom: 2%;
}

.image-link {
  display: inline-block;
  float: left;
  position: relative;
  width: 50%;
}
.image-link img {
  width: 100%;
}
.image-frame-1, .image-frame-2 {
  position: absolute;
  top: 70%;
  height: 20%;
  width: 100%;
  text-align: center;
  vertical-align: text-top;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
}

.image-frame-1  {
  background-color: rgba(47, 126, 52, 0.5);
}

.image-frame-2  {
  background-color: rgba(248, 148, 6, 0.5);
}
